header {
  background: #fafafa;
  border-bottom: 1px solid #ddd; }

.header-title {
  background: #f4f4f4;
  border-bottom: 1px solid #ddd; }

.header-email .btn {
  margin: 10px 0; }

.header-logo {
  display: inline-block;
  float: left;
  padding: 1em 1em 1em 0; }
  .header-logo img {
    max-height: 3em; }

.nav-tabs {
  padding-left: 1em;
  border-bottom: none !important; }
  .nav-tabs > li.active {
    border-top: 3px solid chocolate; }
  .nav-tabs > li > a {
    border-color: transparent; }
    .nav-tabs > li > a.active, .nav-tabs > li > a.active:hover {
      background: white;
      border-top: 3px solid chocolate;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd; }
    .nav-tabs > li > a:hover {
      color: chocolate;
      background: none;
      border-color: transparent; }

.release .label-release,
.no-release .label-release, .release .label-pre-release,
.no-release .label-pre-release, .release .label-draft,
.no-release .label-draft {
  margin: 1em 0;
  cursor: default; }

.release:last-of-type .release-col,
.no-release:last-of-type .release-col {
  border-bottom: none; }

.release .muted,
.no-release .muted {
  color: #777; }

.release .label,
.no-release .label {
  color: white;
  display: inline-block;
  font-size: 100%;
  font-weight: normal;
  margin-bottom: .5em;
  padding: .5em; }

.release .label-release,
.no-release .label-release {
  background: #5cb85c; }

.release .label-pre-release,
.no-release .label-pre-release {
  background: #6e5494; }

.release .label-draft,
.no-release .label-draft {
  background: #aa6708; }

.release .msg-no-release,
.no-release .msg-no-release {
  border-top: 1px solid #6e5494;
  border-bottom: 1px solid #6e5494;
  background: #e5e0ed;
  color: #6e5494;
  padding: .5em 1em; }

.release .avatar,
.no-release .avatar {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: .4em 0;
  max-height: 32px; }

.release .release-flags,
.no-release .release-flags {
  line-height: 1.5em;
  text-align: right;
  margin-top: .4em; }
  .release .release-flags a,
  .no-release .release-flags a {
    display: block; }

.release .release-col,
.no-release .release-col {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd; }
  .release .release-col h3 .octicon,
  .no-release .release-col h3 .octicon {
    color: #ddd;
    font-size: 80%; }
  .release .release-col h4,
  .no-release .release-col h4 {
    margin: 1em 0; }
  .release .release-col .release-body,
  .no-release .release-col .release-body {
    padding-bottom: 2em; }
    .release .release-col .release-body a[href^="https://github.com"],
    .no-release .release-col .release-body a[href^="https://github.com"] {
      background: #def2f5;
      padding: .2em;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }

.no-release {
  padding: 1em; }

footer {
  border-top: 1px solid #ddd;
  padding: 2em; }
  footer p {
    color: #999; }
  footer em {
    font-style: normal;
    font-family: serif; }
  footer a {
    color: inherit; }
    footer a:hover {
      color: inherit;
      text-decoration: none; }

@media (min-width: 992px) {
  .header-email .btn {
    float: right; }
  .release,
  .no-release {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden; } }

@media (max-width: 992px) {
  .nav-tabs {
    margin-bottom: 1em; }
    .nav-tabs > li {
      width: 100%; }
      .nav-tabs > li > a {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px; }
        .nav-tabs > li > a.active {
          border-bottom-color: #ddd; }
  .release .release-flags,
  .no-release .release-flags {
    float: left;
    clear: both;
    text-align: left;
    border-left: 1px solid #ddd;
    width: 100%; }
  .release .release-col,
  .no-release .release-col {
    float: left;
    width: 100%; } }
