@inject AppSettings AppSettings
@model GitHubRepository

@functions{
    string active(RimDev.Releases.Models.GitHubRepository r, string value = "")
    {
        return AppSettings.IsMatch(r.FullName, Model?.FullName) ? "active" : value;
    }

    string isAllActive()
    {
        return string.IsNullOrWhiteSpace(Model?.FullName) ? "active" : "";
    }
}
<ul class="nav nav-tabs" data-tabs="tabs" role="tablist">
    <li role="presentation">
    <a
        asp-controller="releases"
        asp-action="index"
        class="@isAllActive()">
        Latest
    </a>
    </li>
@foreach (var release in AppSettings.GetAllRepositories())
{
    <li role="presentation">
    <a
        asp-controller="releases"
        asp-action="show"
        asp-route-id="@release.FullName"
        class="@active(release)">
        <span class="octicon octicon-repo text-muted"></span>
        @release.Description
        </a>
    </li>
}
</ul>
