@{
    ViewData["Title"] = "Error";
}

<div class="row no-release">
  <span class="msg-no-release center-block"><span class="octicon octicon-squirrel"></span> Whoa! There's just nothing to see here!</span>
</div>
