header {
  background: $grey-lightest;
  border-bottom: 1px solid $grey-light;
}

.header-title {
  background: lighten($grey-light,9%);
  @include border(bottom);
}

.header-email {
  .btn {
    margin: 10px 0;
  }
}

.nav-tabs {
  border-bottom: none !important;
  &>li.active {border-top: 3px solid chocolate;}
  &>li>a {
    border: none;
    &.active,
    &.active:hover {
      background: white;
      border-top: 3px solid chocolate;
      @include border(left);
      @include border(right);
    }
    &:hover {
      color: chocolate;
      background: none;
      border: none;
    }
  }
}

%release-buttons {
  margin: 1em 0;
  cursor: default;
}

.release,
.no-release {
  &:last-of-type {
    .release-col {border-bottom: none;}
  }
  .muted {color: $muted;}
  .btn {
    color: white;
    padding: .2em .3em;
  }
  .btn-release {
    background: $green;
    @extend %release-buttons;
  }
  .btn-pre-release {
    background: $purple;
    @extend %release-buttons;
  }
  .btn-draft {
    background: $dark-orange;
    @extend %release-buttons;
  }
  .msg-no-release {
    @include border(top,$purple);
    @include border(bottom,$purple);
    background: lighten($purple,45%);
    color: $purple;
    padding: .5em 1em;
  }
  .avatar {
    @include border-radius(50%);
    @include border;
    margin-bottom: 1em;
  }
  .release-title {color: $purple;}
  .release-flags {
    line-height: 2em;
    text-align: right;
    a {display: block;}
  }
  .release-col {
    @include border(bottom);
    @include border(left);
    h3 {
      .octicon {
        color: $grey-light;
        font-size: 80%;
      }
    }
    h4 {margin: 1em 0;}
    .release-body {
      padding-bottom: 2em;
      a[href^="https://github.com"] {
        background: lighten(powderblue,12%);
        padding: .2em;
        @include border-radius(3px);
      }
    }
  }
}

.no-release {
  padding: 1em;
}

footer {
  @include border(top);
  padding: 2em;
  p {color: $grey;}
    em {
      font-style: normal;
      font-family: serif;
    }
    a {
      color: inherit;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
}

// Bootstrap screen-md width
@media (min-width: 992px) {
  .header-email {
    .btn {float: right;}
  }
  .release,
  .no-release {
    // Can't extend %flexbox within a media query
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
}

@media (max-width: 992px) {
  .release,
  .no-release {
    .release-flags {
      text-align: left;
      @include border(left);
    }
  }
}
